doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        title Document
    body 
        //- Header Started
        header.header 
            .logo_box  
                img(src="../assets/logos/myteam.svg", alt="")

            .conatainer.header_container 
                nav.navbar 
                    ol.list 
                        li.list_item home
                        li.list_item about
                .btn_box 
                    button.contact_us 
                        | contact us
        //- Header Started


        //- Main Started
        main.main
            //- Hero Page Started
            section.hero_page 
                .img    
                    img(src="../assets/logos/img.svg", alt="")
                .container
                    .title  
                        h1 Find the best 
                            span talent
                    article.article
                        p Finding the right people and building high performing 
                        | teams can be hard. Most companies aren’t tapping into the abundance 
                        | of global talent. We’re about to change that. 

                .img-2 
                    img(src="../assets/logos/img2.svg", alt="")
            //- Hero Page Ended
            

            //- About Page Started
            section.about_page 
                .row 
                    .col
                        .title 
                            h2  Build & manage distributed teams like no one else. 
                    .col 
                        ol.list_about 
                            li.list_item 
                                .icon_box 
                                    img(src="../assets/logos/icon1.svg", alt="")
                                .description 
                                    h4 Experienced Individuals
                                    p Our network is made up of highly experienced professionals who are passionate about what they do.
                            li.list_item 
                                .icon_box 
                                    img(src="../assets/logos/icon2.svg", alt="")
                                .description 
                                    h4 Easy to Implement
                                    p Our processes have been refined over years of implementation meaning our teams always deliver.
                            li.list_item 
                                .icon_box 
                                    img(src="../assets/logos/icon3.svg", alt="")
                                .description 
                                    h4 Enhanced Productivity
                                    p Our customized platform with in-built analytics helps you manage your distributed teams.              
                .img-3
                    img(src="../assets/logos/img3.svg", alt="")
            //- About Page Ended



            //- Result Page Started
            section.result_page 
                .img-4
                    img(src="../assets/logos/img4.svg", alt="")
                .title_center 
                    h2 Delivering real results for top companies. Some of our 
                        span success stories.
                .row.container
                    .col 
                        .top_img 
                            img(src="../assets/imgs/quote.png", alt="")
                        .text
                            p  “The team perfectly fit the specialized skill set required. 
                            | They focused on the most essential features helping us launch
                            | the platform eight months faster than planned.”
                        .name 
                            p.name_text Kady Baker
                        .subject 
                            p.subject_text Product Manager at Bookmark
                        .img 
                            img(src="../assets/imgs/kady.png", alt="")
                    
                    .col 
                        .top_img 
                            img(src="../assets/imgs/quote.png", alt="")
                        .text
                            p  “We needed to automate our entire onboarding process.
                                | The team came in and built out the whole journey. 
                                | Since going live, user retention has gone through the roof!”
                        .name 
                            p.name_text Aiysha Reese
                        .subject 
                            p.subject_text Founder of Manage
                        .img 
                            img(src="../assets/imgs/aiysha.png", alt="")
                    
                    .col 
                        .top_img 
                            img(src="../assets/imgs/quote.png", alt="")
                        .text
                            p  “Amazing. Our team helped us build an app that delivered a new experience for hiring a physio. 
                               | The launch was an instant success with 100k downloads in the first month.”
                        .name 
                            p.name_text Arthur Clarke
                        .subject 
                            p.subject_text Co-founder of MyPhysio
                        .img 
                            img(src="../assets/imgs/artur.png", alt="")
                
                .img-5
                    img(src="../assets/logos/img5.svg   ", alt="")
            //- Result Page Ended


            //- Advertising Page Started
            section.advertising_page 
                .img-6 
                    img(src="../assets/logos/img6.svg", alt="")
                .title 
                    h2 Ready to get started?
                .btn 
                    button contact us
            //- Advertising Page Ended
        //- Main Ended


        //- Footer Start
        footer.footer_page
            .row 
                .col
                    .logo
                        img(src="../assets/logos/myteam.svg", alt="")
                    ol.list 
                        li.list-item home
                        li.list-item about
                .col
                    ol.list 
                        li.list-item 987  Hillcrest Lane Irvine, CA
                        li.list-item California 92714
                        li.list-item Call Us : 949-833-7432
                .col
                    .icons_programs     
                        img(src="../assets/logos/facebook.svg", alt="")
                        img(src="../assets/logos/p.svg", alt="")
                        img(src="../assets/logos/twitter.svg", alt="")
                    .title 
                        p Copyright 2020. All Rights Reserved
        //- Footer End






